

{# ENTÊTE #}

  <header class="navbar navbar-expand-lg bg-body-tertiary fixed-top navbar-purple">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ path('app_accueil') }}">
          <img src="{{ asset("images/Yubo_Logo.png") }}" class="header-logo" alt="Logo de Yubo">
      </a>

      <div class="header-search d-flex justify-content-end flex-fill p-2">
        <i class="fa-solid fa-magnifying-glass pt-1 p-1 mx-2"></i>
        <input type="text" placeholder="Rechercher votre post . . .">
      </div>

      {% if is_granted('IS_AUTHENTICATED_FULLY') %}
       
        <div class="btn-group">
          <a href="{{ path('current_user') }}">
            <img src="{{ app.user.picture }}" class="header-picture-user mx-2" alt="Photo de l'utilisateur">
          </a>
          
          <div class="dropdown">
            <button class="btn btn-primary btn-user dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
              <a href="{{ path('current_user') }}" class="text-decoration-none text-light">{{ app.user.firstname }}</a>
            </button>

            <ul class="dropdown-menu">

              <li class="nav-item d-flex">
                <a href="{{ path('app_accueil') }}" class="text-decoration-none text-purple mx-2" aria-current="page" href="#">Accueil</a>
              </li>

              <li class="pt-1">
                <a href="{{ path('current_user') }}" class="text-decoration-none text-purple mx-2">Profil</a>
              </li>

              <li class="pt-1">
                <a href="{{ path('logout') }}" class="text-decoration-none text-danger mx-2">Déconnexion</a>
              </li>
            </ul>
            
          </div>
        </div>
        
      {% else %}
      
        <div>
          <a href="{{ path('signup') }}" class="button-inscription btn btn-light text-purple mx-3">Inscription</a>
          <a href="{{ path('login') }}" class="button-connexion btn btn-primary">Connexion</a>
        </div>
      {% endif %}
    </div>



    {# MENU HAMBURGER #}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

    <button class="navbar-toggler border border-light border-3 mx-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <img src="{{ asset("images/Yubo_Logo.png") }}" class="header-logo" alt="Logo de Yubo">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <div class="d-flex">
            <a href="{{ path('user', { id: app.user.id }) }}" class="d-flex text-decoration-none avatar-sidebar-animation">
              <img src="{{ app.user.picture }}" class="avatar-sidebar rounded-circle" alt="Photo de l'utilisateur">
              <span class="name-sidebar mt-3 ms-2">{{ app.user.firstname }}</span>
            </a>
          </div>

          <li class="nav-item d-flex pt-1">
            <a href="{{ path('app_accueil') }}" class="link-inscription nav-link active" aria-current="page" href="#">Accueil</a>
          </li>

          <li class="nav-item d-flex pt-1">
            <a href="{{ path('current_user') }}" class="link-inscription nav-link active" aria-current="page" href="#">Profil</a>
          </li>

          <li class="nav-item pt-1">
            <a href="{{ path('logout') }}" class="link-connexion nav-link active text-danger" href="#">Déconnexion</a>
          </li>
        </ul>
      </div>
    </div>

    {% else %}
    
    
    <button class="navbar-toggler border border-light border-3 mx-3" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
      <div class="offcanvas-header">
        <img src="{{ asset("images/Yubo_Logo.png") }}" class="header-logo" alt="Logo de Yubo">
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>

      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
          
            <a href="{{ path('signup') }}" class="link-inscription nav-link active" aria-current="page" href="#">Inscription</a>
          </li>

          <li class="nav-item">
            <a href="{{ path('login') }}" class="link-connexion nav-link active" href="#">Connexion</a>
          </li>
        </ul>
      </div>
    </div>

    {% endif %}

    </div>
  </header>


