{% extends "base.html.twig" %}

{# {% block title %}{{ posts.title }}{% endblock %} #}

{% block body %}

    <div class="d-flex justify-content-center">
        <div class="comment">
            <h3 class="color-purple text-center mt-2">Commentaire</h3>
            <div class="comment-form p-3">
                <ul>
                    {% for comment in comments %}
                    {% if comment.post.id == post.id %}
                        <li>: {{ comment.content }}</li>
                    {% endif %}
                    {% endfor %} 
                </ul>


                {{ form_start(commentForm) }}
                {{ form_rest(commentForm) }}
                    <input type="hidden" name="postId" value="{{ post.id }}" />
                    <button type="submit" class="btn btn-primary d-flex justify-content-center button-footer mt-5">Envoyer</button>
                {{ form_end(commentForm) }}
            </div> 
        </div>
    </div> 
    
{% endblock %}