{% extends 'base.html.twig' %}

{% block title %}Yubo - Accueil{% endblock %}

{% block body %}


    {# CRÉER UN POST #}

    <div class="container w-100 d-flex justify-content-center row flex-column align-item-center">

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
    
        <div class="container-post d-flex justify-content-center col-sm-6 mb-3 mb-sm-0 mx-auto">
            <a href="{{ path('user', { id: app.user.id }) }}" class="mx-2">
            <img src="{{ app.user.picture }}" class="image-user rounded-circle" alt="Photo de l'utilisateur"></a>
            <div class="post-make d-flex justify-content-center flex-fill p-2 mx-1">
                <button type="button" class="btn btn-primary modal-post" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <i class="fa-solid fa-magnifying-glass glass text-purple mx-5"></i>
                <span class="message-input-user">Quoi de neuf, {{ app.user.firstname }} ?</span>
                </button>
            </div>


            {# MODALE POUR LA CRÉATION DE POST #}
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header mt-2">
                            <a href="{{ path('user', { id: app.user.id }) }}" class="d-flex text-decoration-none">
                                <img src="{{ app.user.picture }}" class="rounded-circle" alt="Photo de l'utilisateur">
                            </a>
                            <p class="name-user fw-bold mt-3 mx-2">{{ app.user.firstname }}</p>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                            </button>
                        </div>

                        {# Novolidate désactive la validation HTML5 pour le formulaire. Ce qui permet de soumettre le formulaire sans tétécharger une image #}
                        {{ form_start(formCreatePost, {'attr': {'novalidate': 'novalidate'}}) }}
                        <div class="modal-body">
                            {{ form_rest(formCreatePost) }}

                            <button type="submit" class="btn btn-primary button-footer mt-4">Publier</button>
                        </div>
                        {{ form_end(formCreatePost) }}
                    
                    </div>
                </div>
            </div>
        </div>
                    
        {% else %}
        
        
        <div class="container-post d-flex justify-content-center mx-auto">
            <a href="" data-bs-toggle="modal" data-bs-target="#exampleModal">
                <img src="{{ asset("images/Photo_de_profil.png") }}" class="visitor-image"  alt="Photo de l'utilisateur">
            </a>
            <div class="post-make d-flex justify-content-center flex-fill p-2 mx-1">
                
                <button type="button" class="btn btn-primary modal-post" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <i class="fa-solid fa-magnifying-glass glass text-purple mx-5"></i>
                    <span class="message-input-visitor">Quoi de neuf, cher visiteur ?</span>
                </button>
            </div>
        </div>


        <!-- MODALE POUR LES VISITEURS ET LES UTILISATEURS NON CONNECTÉS -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Il y a comme un problème ! 😱</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <p class="message-visitor">Vous devez vous connecter ou vous inscrire pour pouvoir interagir avec les autres utilisateurs et créer des postes.</p>
                        <img src="{{ asset("images/Accueil_Visiteur.gif") }}" class="image-gif-visitor" alt="Gif de Jim Carrey qui tape sur le clavier">
                    </div>
                    <div class="modal-footer d-flex justify-content-center">
                        <a href="{{ path('signup') }}" class="text-decoration-none button-inscription-visitor">Inscription</a>
                        <a href="{{ path('login') }}" class="btn btn-primary button-connexion-visitor">Connexion</a>
                    </div>
                </div>
            </div>
        </div>
                
        {% endif %}


        {# AFFICHAGE DES POSTS #}

        <ul class="m-auto mb-5 mt-3 w-100 d-flex justify-content-center row flex-column">
            {% for post in posts %}
                <div class="post mt-5 col-sm-6 mb-3 mb-sm-0 mx-auto" id="modal{{ post.id }}" data-id="modal{{ post.id }}">
                
                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="d-flex">
                            <a href="{{ path('user', { id: post.author.id }) }}" class="text-decoration-none">
                            <img src="{{ post.author.picture }}" class="post-avatar rounded-circle" alt="Photo de l'utilisateur">
                            <div class="d-flex">
                                <p class="name-user fw-bold m-3">{{ post.author.firstname }}</p></a>
                            </div>
                        </div>
                        

                        {% if app.user.id == post.author.id %}
                        <div class="btn-group">
                        
                            <button class="edit-post btn btn-light btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa-solid fa-ellipsis bullets-points fw-bold mt-2"></i>
                            </button>
                            
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item text-purple fw-bold" href="{{ path('edit_post', { id: post.id }) }}">Modifier</a>
                                </li>
                                <li>
                                    <a class="dropdown-item text-danger fw-bold" data-bs-toggle="modal" data-bs-target="#exampleModal2{{ post.id }}" href="#">Supprimer</a>
                                </li>
                            </ul>
                        </div>
                        
                    {% endif %}
                    </div>
                        
                    
                
                    <!-- MODALE EDIT POST -->
                    
                    {# <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                           
                                <div class="modal-header">
                                    <a href="{{ path('user', { id: app.user.id }) }}" class="d-flex text-decoration-none">
                                        <img src="{{ app.user.picture }}" class="post-avatar rounded-circle" alt="Photo de l'utilisateur">
                                    </a>
                                    <h1 class="modal-title ms-2 fs-5" id="exampleModalLabel">Modifier votre poste</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div> #}
                

                    <!-- MODALE DELETE POST -->
                    
                    <div class="modal fade" id="exampleModal2{{ post.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title text-center fs-5" id="exampleModalLabel">Êtes-vous sur de vouloir supprimer votre poste ?</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <img src="{{ asset("images/Delete.gif") }}" class="rounded-2 w-100" alt="Gif de suppression de Post">
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <a href="{{ path('delete_post', { 'id': post.id }) }}" class="btn btn-success fw-bold w-25">Oui</a>
                                    <a type="button" class="btn btn-danger fw-bold w-25" data-bs-dismiss="modal">Non</a>
                                </div>

                            </div>
                        </div>
                    </div>
                    
                    {% endif %}


                    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                    {# {{ path('app_comment', { id: post.id }) }} #}
                        
                    <a href="" class="d-flex flex-column text-decoration-none" data-bs-toggle="modal" data-bs-target="#staticBackdrop{{ post.id }}">
                        <div class="flex-fill d-flex flex-column mt-3">
                            <div>
                                <p class="content">{{ post.content }}</p>
                                <div class="d-flex justify-content-center">
                                    {% if post.imageName %}
                                            <img src="{{ asset('uploads/' ~ post.imageName) }}" class="post-image w-100" alt="Image du post">
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <div class="rating d-flex">
                                <i class="fa-regular fa-thumbs-up icon mx-2 {{ post.rating > 0 ? 'rating-up' : '' }}">
                                </i>
                                <p {% if post.rating > 0 %} class="rating-up ms-1" 
                                    {% elseif post.rating < 0 %} class="rating-down" 
                                    {% endif %}>
                                    {{ post.rating }}
                                </p>
                                <i class="fa-regular fa-thumbs-down icon ms-4 mx-2 {{ post.rating < 0 ? 'rating-down' : '' }}">
                                </i>
                            </div>
                            <div class="nbrOfResponse d-flex align-item-center ms-4">
                                <i class="fa-regular fa-comment icon"></i>
                                <p class="ms-1">{{ post.nbrOfResponse }}</p>
                            </div>
                        </div>
                    </a>
                

                {% else %}

                <a class="text-decoration-none" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    <div class="flex-fill d-flex flex-column">
                            <div>
                                <img src="{{ asset("images/Photo_de_profil.png") }}" class="visitor-image-post mb-2" alt="Photo du visiteur">
                                <span class="text-purple name-visitor fw-bold">
                                    Visiteur
                                </span> 
                                <p class="content">{{ post.content }}</p>
                                {% if post.imageName %}
                                            <img src="{{ asset('uploads/' ~ post.imageName) }}" class="post-image w-100" alt="Image du post">
                                {% endif %}
                            </div>
                        </div>
                        <div class="d-flex justify-content-center mt-3">
                            <div class="rating d-flex">
                                <i class="fa-regular fa-thumbs-up icon mx-2 {{ post.rating > 0 ? 'rating-up' : '' }}"></i>
                                <p {% if post.rating > 0 %} class="rating-up ms-1" 
                                    {% elseif post.rating < 0 %} class="rating-down" 
                                    {% endif %}>
                                    {{ post.rating }}
                                </p>
                                <i class="fa-regular fa-thumbs-down icon ms-4 mx-2 {{ post.rating < 0 ? 'rating-down' : '' }}"></i>
                            </div>
                            <div class="nbrOfResponse d-flex align-item-center ms-4">
                                <i class="fa-regular fa-comment icon"></i>
                                <p class="ms-1">{{ post.nbrOfResponse }}</p>
                            </div>
                        </div>
                    </a>

                    <!-- MODALE POUR LES VISITEURS ET LES UTILISATEURS NON CONNECTÉS -->
                    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="staticBackdropLabel">Il y a comme un problème ! 😱</h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <p class="message-visitor">Vous devez vous connecter ou vous inscrire pour pouvoir interagir avec les autres utilisateurs et créer des postes.</p>
                                    <img src="{{ asset("images/Accueil_Visiteur.gif") }}" class="image-gif-visitor" alt="Gif de Jim Carrey qui tape sur le clavier">
                                </div>
                                <div class="modal-footer d-flex justify-content-center">
                                    <a href="{{ path('signup') }}" class="btn btn-primary button-inscription-visitor">Inscription</a>
                                    <a href="{{ path('login') }}" class="btn btn-primary button-connexion-visitor">Connexion</a>
                                </div>
                            </div>
                        </div>
                    </div>

                {% endif %}  
            </div>
                                
                {# <a href="{{ path('app_comment', { id: post.id }) }}" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                
                </a> #}

                {% if is_granted('IS_AUTHENTICATED_FULLY') %}

                <!-- MODALE DETAILS POST -->

                <div class="modal fade" id="staticBackdrop{{ post.id }}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header mt-2">
                                <a href="{{ path('user', { id: post.author.id }) }}" class="d-flex text-decoration-none">
                                    <img src="{{ post.author.picture }}" class="post-avatar rounded-circle" alt="Photo de l'utilisateur">
                                    <p class="name-user fw-bold mt-3 mx-2">{{ post.author.firstname }}</p>
                                </a>
                            
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <div class="flex-fill d-flex flex-column mt-3">
                                <div>
                                    <p class="content">{{ post.content }}</p>
                                    <div class="d-flex justify-content-center">
                                        {% if post.imageName %}
                                            <img src="{{ asset('uploads/' ~ post.imageName) }}" class="post-image w-100" alt="Image du post">
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                            <div class="d-flex justify-content-center mt-3">
                                <div class="rating d-flex">
                                    <i class="fa-regular fa-thumbs-up icon mx-2 {{ post.rating > 0 ? 'rating-up' : '' }}"></i>
                                    <p {% if post.rating > 0 %} class="rating-up ms-1" 
                                        {% elseif post.rating < 0 %} class="rating-down" 
                                        {% endif %}>
                                        {{ post.rating }}
                                    </p>
                                    <i class="fa-regular fa-thumbs-down icon ms-4 mx-2 {{ post.rating < 0 ? 'rating-down' : '' }}"></i>
                                    {# <p {% if post.rating > 0 %} class="rating-up ms-1" 
                                        {% elseif post.rating < 0 %} class="rating-down" 
                                        {% endif %}>
                                        {{ post.rating }}
                                    </p> #}
                                </div>
                                {# <a href="{{ path('add_comment', { id: post.id }) }}" class="text-decoration-none"> #}
                                    <div class="nbrOfResponse d-flex align-item-center ms-4">
                                        <i class="fa-regular fa-comment icon"></i>
                                        <p class="ms-1">{{ post.nbrOfResponse }}</p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {# <div class="d-flex justify-content-center">
                    <div class="comment">
                        <h3 class="color-purple text-center mt-2">Commentaire</h3>
                        <div class="comment-form p-3">

                         <ul>
                            {% for comment in comments %}
                            {% if comment.post.id == post.id %}
                                <li>: {{ comment.content }}</li>
                            {% endif %}
                            {% endfor %}
                                {# {{dump(comments)}} #}
                        {# </ul>


                            {{ form_start(commentForm) }}
                            {{ form_rest(commentForm) }}
                            <input type="hidden" name="postId" value="{{ post.id }}" />
                            <button type="submit" class="btn btn-primary d-flex justify-content-center button-footer mt-5">Envoyer</button>
                            {{ form_end(commentForm) }}
                        </div> 
                    </div>
                </div>  #}
            </div>
            {% endif %}  
            
            {% endfor %}
        </ul>
    </div>


        {# CRÉATION DU LOADER AU MOMENT DE SE CONNECTER SUR YUBO #}

        <div class="loaderFinal">
            <div class="anim-loader">
                <img src="{{ asset("images/Yubo_Logo.png") }}" class="title-loader" alt="Logo Yubo">
                <div class="points-container d-flex mt-5">
                    <div class="point1"></div>
                    <div class="point1"></div>
                    <div class="point1"></div>
                </div>
            </div>
        </div>
{% endblock %}