{% extends 'base.html.twig' %}

{% block title %}Yubo - Profil{% endblock %}

{% block body %}

    {% if is_granted('IS_AUTHENTICATED_FULLY') %}

    <div class="block-profil mt-5">

       {{ form_start(form) }}
        
        <div class="image-profil d-flex justify-content-center">
            <img src="{{ app.user.picture }}" class="avatar-profil rounded-circle mt-5" alt="Photo de Profil">
        </div>

        <h2 class="title-profil d-flex justify-content-center fw-bold mt-4"><span class="title-bonjour text-light">Bonjour</span><span class="color-purple mx-2">{{ app.user.firstname }}</span></h2>

        {{ form_rest(form) }}
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary button-signup w-50 mb-5 mt-4">Enregistrer les modifications</button>
        </div>

        {{ form_end(form) }}


        <div class="d-flex justify-content-center mt-2">
            <button type="submit" class="btn btn-danger w-50 mb-5 mt-3" data-bs-toggle="modal" data-bs-target="#exampleModal1{{ app.user.id }}">Supprimer mon compte</button>
        </div>
    

        <!-- MODALE POUR SUPPRIMER SON COMPTE -->
        <div class="modal fade" id="exampleModal1{{ app.user.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title text-center fs-5" id="exampleModalLabel">Êtes-vous sur de vouloir supprimer votre compte ?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="{{ asset("images/Supprimer_son_compte_2.gif") }}" class="w-100 rounded-2" alt="Image de supression de compte">
                    </div>
                    <form action="{{ path('delete_user', { id: app.user.id }) }}" class="modal-footer d-flex justify-content-center">
                        <a href="{{ path('delete_user', { id: app.user.id }) }}" class="btn btn-success fw-bold w-25" data-bs-dismiss="modal">Oui</a>
                        <a class="btn btn-danger fw-bold w-25" data-bs-dismiss="modal">Non</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
    
    {% endif %}

{% endblock %}
